files:
  "/home/webapp/redis_job.sh" :
    mode: "000755"
    owner: webapp
    group: webapp
    content: |
      #!/bin/sh
      #!/bin/bash
      sudo amazon-linux-extras install epel -y
      sudo yum install amazon-cloudwatch-agent -y
      sudo yum install redis -y
      sudo systemctl start redis
      sudo systemctl enable redis

container_commands:
  00_redis_job:
    command: /home/webapp/redis_job.sh
