

name: Test-for-Dev-EBApplication

env:
  EB_PACK_S3_BUCKET_NAME: ${{secrets.s3_bucket_name}} #eb-flask-web
  EB_APPLICATION_VERSION: ${{ secrets.EB_APP_NAME }} #flask-web current_directory
  EB_ENVNAME: ${{secrets.ebenvname}} #flask-web-dev
  DEPLOY_PACKAGENAME: ${{secrets.eb_packagename}}-${{github.sha}}.zip #flask-web-app
  AWS_REGION_NAME: ${{secrets.AWS_REGION_NAME}} #us-east-1

on:
  push:
    branches:
      - dev
      - main
      

jobs:
  my-ci-pipeline:
    runs-on: ubuntu-latest

    steps:
      - name: Git clone our Repo 
        uses: actions/checkout@v1

      - name: zip the s3 package
        run:  zip -r ${{env.DEPLOY_PACKAGENAME}} ./ -x *.git* 

      - name: Config Aws Cred
        uses: aws-actions/configure-aws-credentials@v1
        with: 
            aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
            aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
            aws-region: ${{ secrets.AWS_REGION_NAME }}

      - name:  Copy to s3
        run: |
          ls -al
          echo " copying the deploy package to s3 "
          aws s3 cp ${{ env.DEPLOY_PACKAGENAME }} s3://${{ env.EB_PACK_S3_BUCKET_NAME }}/
          echo " done "

      - name:  CI
        run: echo "DONE CI PART"

  my-cd-pipeline:
    runs-on: ubuntu-latest
    needs : [my-ci-pipeline]
    
    steps:
      - name: Config Aws Cred
        uses: aws-actions/configure-aws-credentials@v1
        with: 
            aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
            aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
            aws-region: ${{ secrets.AWS_REGION_NAME }}

      - name: Creating New Version ElasticBeanstlak Application
        run : |
          aws elasticbeanstalk create-application-version \
          -- application-name ${{ env.EB_APPLICATION_VERSION }} \
          -- source-bundle S3Bucket="${{ env.EB_PACK_S3_BUCKET_NAME }}", S3Key="${{ env.DEPLOY_PACKAGENAME }}"" \
          -- version-label "Ver-${{ github.sha }}" \
          -- description "CommitSHA-${{ github.sha }}"

      - name: Updating ElasticBeanstalk Application
        run : aws elasticbeanstlk update-environment --environment-name ${{ env.EB_ENVNAME }} --version-label "Ver-${{ github.sha }}"

      - name:  CD
        run: echo "DONE CD PART"
